<head>
    <style>
        body {
            text-align: justify;
            text-justify: inter-word;
        }

    </style>
</head>
<body>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @{
                    ViewBag.Title = "About Cloud Med";
                }
                <h2>@ViewBag.Title.</h2>
                <div id="description">
                    <h5>
                        Services
                    </h5>
                    <p>
                        CloudMed’s has evolved over the decades, since its founding in 1858, into a leader in Obstetrics, Gynaecology, Paediatrics and Neonatology. Today, the 830-bed hospital is a referral centre providing tertiary services to handle high-risk conditions in patients.
                    </p>
                    <p>
                        More than 500 specialists adopt a compassionate, multi-disciplinary and holistic approach to treatment, and harness the latest medical innovations and technology to deliver the best medical care possible.
                    </p>
                    <p>
                        As an Academic Medical Centre, CloudMed believes that world-class clinical training and research are imperative in raising the standard of care. Hence, the Hospital has adopted a culture of innovation as it achieves world-class clinical leadership. The hospital runs the largest specialist training programme for Obstetrics and Gynaecology and Paediatrics in Singapore. Both programmes are accredited by the Accreditation Council for Graduate Medical Education International (ACGME-I), and are highly rated for the high quality of clinical teaching and the commitment to translational research.
                    </p>
                    <p>
                        As we continually raise the bar on clinical excellence, we are sensitive to our patients’ needs for a pleasant hospital experience – one where they receive seamless service and enjoy the warmth of compassionate care in a healing environment.
                    </p>
                </div>

            </div>

            <div class="col-md-6">
                <br />
                <br />
                <h5>
                    Our Vision
                </h5>

                <p>
                    To be the healthcare leader for Women and Children.
                </p>
                <h5>
                    Our Mission
                </h5>

                <p>
                    To lead in excellent, holistic and compassionate care for Singaporeans.
                </p>
                <h5>
                    Our Core Values
                </h5>
                <ul>
                    <strong>Compassion</strong>
                    <li>
                        Treat everyone with kindness, respect and dignity.
                        Sensitive to patients’ and their families’ needs and their right to privacy.
                    </li>
                </ul>

                <ul>
                    <strong>Integrity</strong>
                    <li>
                        Adhere to the highest standard of professional conduct and ethical behaviour.
                    </li>
                </ul>



                <ul>
                    <strong>Collaboration</strong>
                    <li>
                        Deal with diversity with an open-mind and value the contributions of all who are working together to achieve our common goals.
                    </li>
                </ul>

                <h5>Environmental, Health & Safety (EHS) Policy                    </h5>
                <ul>
                    <strong>At CloudMed, we are committed to:</strong>
                    <li>
                        Promote a safe and healthy environment
                    </li>
                    <li>
                        Protect the environment
                    </li>
                    <li>
                        Promote continual improvements to achieve EHS targets and objectives
                    </li>
                </ul>

                <p>
                    Applicable Environmental, Health & Safety (EHS) legislation and other legal requirements are also complied with.
                </p>
            </div>
        </div>
    </div>
</body>